/* style.css
 * This file provides css styles.
 */

body, html {
	background-color: #FFF;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelvBoldIBM","HelveticaNeue-Bold","Helvetica Neue Bold",
	"HelveticaNeue","Helvetica Neue",Helvetica,Arial,Roboto,sans-serif;
	/*"HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
	color: #0F0F0F;
}
body > div {
  padding: 50px 0px;
  box-sizing: border-box;
}
h1, h2, h3, h4{
	padding: 0px;
}
hr{
	border: 3px solid #D8E4E4;
}
.bluemix-bar, .container:first-child h2, .selection-box:first-child p,
.content div.explain p, .content div.explain a, .washer-list,
.install-info h3, .footer-links .link, .problem-machine p,
.washer-details .washer-content .washer-text p, .washer-app-info p,
.washer-details .washer-content .text-list li{
	font-family:"HelvRomanIBM","HelveticaNeue-Roman","Helvetica Neue Roman",
	"HelveticaNeue","Helvetica Neue",Helvetica, Arial, "Lucida Grande", sans-serif;
}

.selection-box:first-child h3, .selection-code h3{
	color: #262626;
	font-size:21px;
	margin-bottom: 20px;
}
.selection-box:first-child p, .selection-code p{
	font-size: 16px;

}

.main-section {
  position: relative;
  padding: 60px 0px;

}
.container{
	text-align: center;
}
.content{
  margin: auto;
	float: none;
}
.gray-background{
	background-color: #E7ECEF;
}
.bluemix-bar{
	margin: 0px;
	padding: 20px 40px;
	background-color: #20343E;
	color: #FFF;
	font-size:21px;
}
.bluemix-bar-header{
	margin: 0px;
	padding: 20px 40px;
	background-color: #152935;
	color: #4A97F8;
	font-size: 12px;
	font-family:"HelvRomanIBM","HelveticaNeue-Roman","Helvetica Neue Roman",
	"HelveticaNeue","Helvetica Neue",Helvetica, Arial, "Lucida Grande", sans-serif;
}
.container:first-child h2{
	font-size: 28px;
	margin-bottom: 40px;
}

.explore-info{
	margin-bottom: 3px;
}
.selection-box{
	padding: 0px 30px;
}
.explore-info:first-child .selection-box{
  float: right;
  margin-right: 10%;
}
.explore-info:last-child .selection-box{
  float: left;
  margin-left: 10%;
}
.explore-info .selection-box{
	position: relative;
	border: 2px solid transparent;
	width:302px;
	height: 360px;
	cursor: pointer;
}
.explore-info .selection-box.active{
	border-color: #4A97F8;
}
.explore-info .selection-box img{
	margin-top: 40px;
	margin-bottom: 20px;
	width: 89px;
	height: 120px;
}
.explore-info .selection-box img.mobile-img{
	width: 128px;
	height: 128px;
}
.content:first-child p{
	font-size: 16px;
	margin-bottom: 20px;
}
.content div.explain p{
	font-size: 21px;
	text-align: left;
	width: 90%;
}
.content div.explain a{
	margin-top: 40px;
	font-size: 21px;
	color: #4581E0;
	float: left;
}
.gray-background .content div>img{
	border: 1px solid #0F0F0F;
	margin-bottom: 40px;
	width: 220px;
	height: 140px;
}
.gray-background .content .image-box-2>img{
	margin-top: 60px;
	margin-bottom: 60px;
}
.gray-background .content div.explain img{
	width: 32px;
	height: 32px;
}
.info-description{
  width: 70%;
  margin: auto;
	text-align: left;
}
.gray-background .content div >.mobile-image,.content div >.mobile-image{
	height: 120px;
	width: 120px;
	border: none;
}
.gray-background .arrow-section .content{
	margin-bottom: 50px;
}
.hidden{
	display: none;
}

/*Arrow*/
.arrow-section:before, .arrow-section:after,
.explore-info .selection-box.active:before, .explore-info .selection-box.active:after{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow-section:before,
.explore-info .selection-box.active:before{
  left: calc(50% - 25px);
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  border-top: 50px solid #4A97F8;
}
.arrow-section:after,
.explore-info .selection-box.active:after{
  top: calc(100% - 4px);
  left: calc(50% - 25px);
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  border-top: 50px solid #FFF;
}
.main-section.gray-background{
	padding-bottom: 40px;
}
.main-section.arrow-section:before{
	border-top-color: #FFF;
	left: 36%;
	z-index: 1;
}
.main-section.gray-background.arrow-section:before{
	border-top-color: #E7ECEF;
}
.main-section.gray-background.arrow-section:after{
	display: none;
}
/*Washer*/
.washer-list{
	text-align: left;
}
.washer-list .selection-text strong{
	font-size: 21px;
}
.washer-list .selection-text span{
	margin-left: 15px;
	font-size: 16px;
}
.list-group{
	width: 100%;
	box-shadow: none;
  display: table;
}
.list-group .list-item{
	display: inline-block;
	float: left;
	width: 20%;
	height: 250px;
	border: 2px solid transparent;
	background-image: url("../images/washing-machine-placeholders.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FFF;
	position: relative;
	outline: 0 !important;
}
.list-group .list-item span{
  position: relative;
  display: inline-block;
  margin-top: 200px;
  margin-left: -20px;
  color: #0F0F0F;
  text-align: center;
}
.list-group .list-item span:after {
  content: "";
  position: relative;
  display: block;
  background: #7CCD10;
  left: calc(100% + 10px);
  top: -17px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.list-group .list-item.active,
.list-group .list-item:hover{
	border: 2px solid #4A97F8;
	color: #0f0f0f;
	outline:
}
.active-washer-message{
	position: relative;
  border: 1px solid #7CCD10;
  width: 302px;
  padding: 18px;
  padding-left: 60px;
}
.active-washer-message:before{
  content: "";
  position: absolute;
  left: 15px;
  top: 13px;
  height: 32px;
  width: 32px;
  background-size: 20px;
  background-position: 4px;
  background-image: url("../images/check-icon.png");
  background-repeat: no-repeat;
  border: 2px solid #7CCD10;
  border-radius: 50%;
}
.washer-list .no-washers-message{
	font-size: 21px;
}
.add-button{
  width: 64px;
  height: 64px;
  border-radius: 50px;
  font-size: 30px;
  background: #FFF;
  border: 2px solid #000;
  padding-bottom: 5px;
  line-height: 0px;
  outline: 0;
}
.add-button:hover{
	background-color: #B4E0FF;
}
/*Install Mobile*/
.installation-section{
	padding: 0px;
}
.installation-section .container:first-child h2{
	margin-bottom: 60px;
}
.install-info{
	float: left;
	margin: auto;
	text-align: left;
}
.install-info h3{
  font-size: 21px;
}
.gray-background .content div.install-info>img{
	border: none;
	height: 49px;
	width: 49px;
	display: inline-block;
}
.install-info a{
	margin-left: 60px;
	line-height: 7px;
	font-size:16px;
	color: #4A97F8;
}
.selection-code img{
	width:128px;
	height:128px;
	margin-bottom: 20px;
}
.selection-code p{
	padding: 0px 25px;
}
/*Footer*/
footer{
  padding: 20px 0px;
}
footer.main-section{
	z-index: 2;
}
.footer-links{
	width: 50%;
	float: right;
	list-style: none;
	text-align: left;
}
.footer-links p{
	font-size: 16px;
	font-family:  "HelvBoldIBM","HelveticaNeue-Bold","Helvetica Neue Bold",
	"HelveticaNeue","Helvetica Neue",Helvetica,Arial,Roboto,sans-serif;
}
.footer-links .link{
	font-size: 28px;
	color: #0F0F0F;
}
.footer-links h4{
	margin-bottom: 20px;
}

/* Washer Single Page*/
.washer-content{
	padding: 10px 0px;
}
.washer-text p, .washer-text h3{
	margin-bottom: 20px;
}
.washer-title span {
	position: relative;
}
.washer-title span:after{
  content: "";
  display: block;
  background: #7CCD10;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  left: calc(100% + 10px);
  top: 7px;
}
.washer-details{
	display: flex;
  	width: 100%;
  	margin: 10px 0px;
}
.washer-details .washer-content{
	position: relative;
	padding-top: 15px;
  flex: 1;
}
.washer-details .washer-content .washer-text{
  display: inline-block;
  margin-top: -25px;
	text-align: left;
	width: 100%;
}
.washer-details .washer-content .washer-text p span{
	margin-left: 50px;
}
.washer-details .washer-content .washer-text p strong{
	float: right;
}
.washer-details .washer-content .washer-machine{
  width: calc(100% - 100px);
}
.washer-details .washer-content .text-list{
	list-style: none;
  padding: 0px;
  width: 100%;
}
.washer-details .washer-content .text-list li{
	display: inline-block;
	width: 50%;
	text-align: left;
}
.washer-details .washer-content .text-list li strong{
	position: relative;
}
.washer-details .washer-content .text-list li strong:after{
	content: " ";
	position: absolute;
	height: 0;
	width: 0;
  left: calc(100% + 15px);
	pointer-events: none;
	border: solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #aa75f5
;
}
.washer-app-info{
  display: flex;
	font-size:20px;
}
.washer-app-info > div{
  padding-left: 50px;
}
.washer-app-info img{
	height: 100px;
	width: 100px;
}
.washer-app-info > div > img {
    margin-left: 10px;
}
.problem-machine{
	text-align: left;
	padding: 0px 25px;
}
.problem-machine-icons img{
	width: 40px;
	height: 40px;
}
.problem-machine .problem-machine-icons button{
	border: none;
	display: inline-block;
  text-align: left;
  background: none;
  margin-left: 10px;
	outline: 0 !important;
}
.problem-machine-icons{
	margin: 20px;
}
.problem-machine-icons p {
	margin-top: 20px;
}

.problem-machine:first-child h3{
	margin-bottom: 20px;
}
.problem-machine .problem-machine-buttons button{
	display: block;
	background: #FFF;
	margin: 7px 0px;
  padding: 8px;
  width: 120px;
  height: 40px;
	border: 1px solid #000;
	outline: 0 !important;
}
.problem-machine .problem-machine-buttons button:hover{
	background-color: #B4E0FF;
}
@media only screen and (max-width: 768px){
  .explore-info .selection-box:before,
	.explore-info .selection-box:after{
    display: none;
  }
	.content .explore-info .selection-box{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.list-group .list-item{
		width: 50%;
	}
	.washer-details .washer-content{
    text-align: left;
	}
	.washer-app-info > div{
  	padding-left: 0px;
	}
}
