<html>
<head>
	<title>Application powered by Watson IoT for Electronics</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/style/style.css" />
</head>
<body>
	<div class="leftHalf">
	<img class="newappIcon" src="images/newapp-icon.png">
					<h1>
						Welcome to the <span class="blue">Watson IoT for Electronics</span>
					</h1>
	        <p class="description">Powered by IBM analytics capabilities, Internet of Things for Electronics generates data-driven insight that transforms businesses and customers' experiences across the entire value chain. With this transformation, organizations can capitalize on the increasing demand for intelligent connected devices and experiences brought about by the Internet of Things.</p>
		</div>
		<div class = "rightHalf">
		<header>
			<div class='title'>Washing Machine</div>
		</header>
	</div>
</body>
</html>