<html>
<head>
  <title><%= title %> - Application powered by IoT for Electronics</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="/styles/style.css"/>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/iotAppMonitorClient.js"></script>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <h4 class="bluemix-bar">IoT for Electronics Starter Experience</h4>
  <div class="main-section">
    <div class="container">
      <h2 >What would you like to explore?</h2>
      <section class="col-xs-12 col-md-10 content">
        <div class="col-xs-12 col-md-6 explore-info">
          <div name="selection-box-1" class="col-md-9 selection-box active">
          	<img src="/images/washing-machine-2.png"/>
            <h3 class="section-info">Simulate appliance</h3>
            <p>View and change live simulated data on an example appliance.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 explore-info">
          <div name="selection-box-2" class="col-md-9 selection-box">
            <img src="/images/mobile-main.png" class="mobile-image"/>
            <h3>Consumer app</h3>
            <p>See how an appliance owner benefits from connected services.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="main-section gray-background arrow-section">
    <div class="container">
      <section name="description-selection-box-1" class="col-xs-12 col-md-10 content description-box">
        <div class="col-xs-12 col-md-6">
          <img src="/images/image-placeholde-2.png"/>
          <img src="/images/image-placeholder.png"/>
        </div>
        <div class="col-xs-12 col-md-6 explain">
          <p>An appliance can be connected to the
            platform so that you can view streaming
            live data. With this starter offering, you
            can create your own simulated appliances.
          </p>
          <p>You will use a web-based app that
            simulates an appliance receiving
            commands and performing operations
            connected through the IoT Platform. On
            the platform you will be able to see the
            the devices that you’ve created and the
            messages they have sent.
          </p>
          <a><img src="/images/learn-more.png"/> Learn More </a>
        </div>
      </section>
      <section name="description-selection-box-2" class="col-xs-12 col-md-10 content description-box hidden">
        <div class="col-xs-12 col-md-6 image-box-2">
          <img src="/images/image-placeholde-2.png"/>
          <img src="/images/image-placeholder.png"/>
        </div>
        <div class="col-xs-12 col-md-6 explain">
          <p>You will experience a simulation of how
            Heidi, an appliance owner, uses a mobile
            app for the new washer that she has
            purchased. An appliance company will be
            able to offer these types of new services
            to attract and retain customers. Future
            appliances and services can be better
            designed based on new sources of
            customer data.
          </p>
          <p>You will use a mobile app on an iOS phone.
            You will experience how Heidi can send
            commands to the appliance and receive
            updates from her appliance via the IoT
            platform and Bluemix. You can use the
            Appliance Simulator to mimic failure events
            on Heidi’s washer, then view the results in
            Heidi’s mobile app.
          </p>
          <a><img src="/images/learn-more.png"/> Learn More </a>
        </div>
      </section>
    </div>
  </div>
  <div class="main-section arrow-section">
    <div class="container">
      <section class="col-xs-12 col-md-10 content">
        <h2>Choose or add new simulated washer</h2>
        <p>You can add up to five washers.<p>
        <button id="addNewDeviceButton" class="add-button">+</button>
        <hr/>
        <div class="washer-list">
          <p class="selection-text"><strong>Your washers</strong><span>Select a washer to control its simulated data. A new window will open.</span></p>
          <p class="no-washers-message hidden">No washers have been added</p>
          <div class="list-group">
          </div>
          <p class="active-washer-message"><strong>Great!</strong> The washer is active.</p>
        </div>
      </section>
    </div>
  </div>
  <div class="installation-section hidden">
    <div class="main-section gray-background arrow-section ">
      <div class="container">
        <h2 >Next, install the mobile app on an iOS phone</h2>
        <section class="col-xs-12 col-md-10 content">
          <div class="col-xs-12 col-md-5">
            <img class="mobile-image" src="/images/mobile.png"/>
          </div>
          <div class="col-xs-12 col-md-7">
            <div class="install-info">
              <h3> <img src="/images/step-one.png"/>
              Download the app to your workstation<br/>
              <a>add link here</a></h3>
            </div>
            <div class="install-info">
              <h3> <img src="/images/step-two.png"/>
              Instructions to install on your iOS phone<br/>
              <a>add link here</a></h3>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="main-section arrow-section ">
      <div class="container">
        <h2 >Last, you'll need these QR codes to use the app:</h2>
        <section class="col-xs-12 col-md-10 content">
          <div class="col-xs-12 col-md-7 QR-code-info">
            <div class="col-md-9 selection-code active">
              <img src="/images/QR-code.png"/>
              <h3 >Log in</h3>
              <p>You'll be asked to scan this code to log in.</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-5 QR-code-info">
            <div class="col-md-9  selection-code active">
              <img src="/images/QR-code.png"/>
              <h3>Register appliance</h3>
              <p>You'll be asked to scan this code to register Heidi's washer.</p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <footer class="main-section gray-background">
    <div class="container">
      <section class="col-xs-12 col-md-10 content">
        <ul class="footer-links">
          <li><p>EXPLORE</p></li>
          <li><h4><a class="link">Platform Dashboard ></a></h4></li>
          <li><h4><a class="link">Consumer app ></a></h4></li>
        </ul>
      </section>
    </div>
  </footer>
  <script>
    $(document).ready(function(){

      // Setup the ajax indicator
      $('body').append('<div id="ajaxBusy"><p><img src="images/loading.gif"></p></div>');

      $('#ajaxBusy').css({
        display:"none",
        margin:"0px",
        paddingLeft:"0px",
        paddingRight:"0px",
        paddingTop:"0px",
        paddingBottom:"0px",
        position:"fixed",
        left:"50%",
        top:"50%",
         width:"auto"
      });

      var numberOfDevices = 0;

      $.ajax({
        url: '/washingMachine/getStatus',
        type: 'GET',
        success: function(data){
          $.each(data, function(index, value){
            $('.list-group').append('<button class="list-item"><span>' + index + '</span></button>');
            numberOfDevices++;
          });
          validateNoWasherMessage();
          validateSelectedWasherMessage();
        }
      });

      $(document).on('click', '#addNewDeviceButton', function(e){
        e.preventDefault();
        if(numberOfDevices < 5) {
          numberOfDevices++;
          $.ajax({
            url: '/washingMachine/createDevices/1',
            type: 'POST',
            success: function(data){
              $.each(data, function(index, value){
                $('.list-group').append('<button class="list-item"><span>' + value.deviceID + '</span></button>');
              });
              validateNoWasherMessage();
              validateSelectedWasherMessage();
            }
          });
        }
      });

      $('.washer-list .list-group').on("click", ".list-item", function(){
        $('.washer-list .list-group .list-item').removeClass('active');
        $(this).addClass('active');

        window.open(
          './washingMachine/' + $(this).find('span').text(),
          '_blank' // <- This is what makes it open in a new window.
        );
        validateSelectedWasherMessage();
      });

      $('.selection-box').click(function() {
        $('.selection-box').removeClass('active');
        $(this).addClass('active');
        //Change the content from the selection box
        $('.description-box').addClass('hidden');
        $('.description-box[name=description-' + $(this).attr('name') + ']').removeClass('hidden');


        if ($('.selection-box.active').attr('name') === 'selection-box-2'){
          $('.installation-section').removeClass('hidden');
        }else{
          $('.installation-section').addClass('hidden');
        }

      });



      function validateNoWasherMessage(){
        if($('.washer-list .list-group .list-item').length < 1){
          $('.washer-list .no-washers-message').removeClass('hidden');
        }
        else{
          $('.washer-list .no-washers-message').addClass('hidden');
        }
      }

      function validateSelectedWasherMessage(){
        if($('.washer-list .list-group .active').length < 1){
          $('.washer-list .active-washer-message').addClass('hidden');
          $('.installation-section').addClass('hidden');
        }
        else{
          $('.washer-list .active-washer-message').removeClass('hidden');
          $('.installation-section').removeClass('hidden');
        }
      }
    });

    // Ajax activity indicator bound to ajax start/stop document events
    $(document).ajaxStart(function(){ 
      $('#ajaxBusy').show(); 
    }).ajaxStop(function(){ 
      $('#ajaxBusy').hide();
    });

  </script>

</body>
</html>
